body.active {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(34, 34, 34);
    height: 100vh;
}

.container.active {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(73, 73, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 12px;
    border: 12px;
    border-radius: 15px;
    padding: 8px;
}

.button.active {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(0, 146, 5);
    color: rgb(255, 255, 255);
    padding: 12px;
    border: 4px;
    border-style:solid;
    border-color: aliceblue;
    margin: 12px;
    border-radius: 12px;
}

.button.active:hover {
    cursor: pointer;
    background-color:rgb(0, 79, 3); ;
}


